header {
  background-color: #212429;
  color:white;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
header a {
  color:#fff;
  padding:10px 20px;
}
.cardBody {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card img  {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}